<?xml version='1.1' encoding='UTF-8'?>
<text xmlns="http://www.landcglobal.com/tessischema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cdi="http://www.landcglobal.com/cdi" xmlns:concept="http://www.landcglobal.com/concept"
	xmlns:eci_coding="http://www.landcglobal.com/eci_coding" xmlns:metadata="http://www.landcglobal.com/metadata"
	outputversion="199670">
	<annotations maxid="85">
		<metadata:PRIORITY id="0">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Integer" value="0" />
				</metadata:template>
			</metadata:data>
		</metadata:PRIORITY>
		<metadata:MESSAGE_INFO id="1">
			<metadata:data>
				<metadata:template>
					<metadata:field name="ID" value="280" />
					<metadata:field name="Transaction" value="d7d13172-0084-40ca-a46a-26086e56bd4d" />
					<metadata:field name="Type" value="ClarificationExtraction" />
					<metadata:field name="Version" value="1.0" />
				</metadata:template>
			</metadata:data>
		</metadata:MESSAGE_INFO>
		<metadata:EXTERNAL_COMPANY id="2">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="eScription" />
				</metadata:template>
			</metadata:data>
		</metadata:EXTERNAL_COMPANY>
		<metadata:CUSTOM_DATA id="3">
			<metadata:data>
				<metadata:customData>
					<extractionStartTime>1553094408987</extractionStartTime>
					<documentSource>ReadyAPI</documentSource>
					<deploymentID>179</deploymentID>
					<outputFormat>advisor</outputFormat>
				</metadata:customData>
			</metadata:data>
		</metadata:CUSTOM_DATA>
		<metadata:CLIENT_INFO id="4">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Location" value="179" />
					<metadata:field name="Name" value="179" />
				</metadata:template>
			</metadata:data>
		</metadata:CLIENT_INFO>
		<metadata:EXTERNAL_DOCUMENT_TYPE id="5" />
		<metadata:ORIGINAL_DOC id="6">
			<metadata:data>
				<metadata:text>Patient has diabetes.</metadata:text>
			</metadata:data>
		</metadata:ORIGINAL_DOC>
		<metadata:PATIENT_INFO id="7">
			<metadata:data>
				<metadata:template>
					<metadata:field name="ID" value="1_629fa4b8-d1c4-4af4-8f08-5f6edd75df40" />
				</metadata:template>
			</metadata:data>
		</metadata:PATIENT_INFO>
		<metadata:OUTPUT_VERSION id="8">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Integer" value="199670" />
				</metadata:template>
			</metadata:data>
		</metadata:OUTPUT_VERSION>
		<metadata:EXTERNAL_SPECIALTY_TYPE id="9">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="Internal_Medicine" />
				</metadata:template>
			</metadata:data>
		</metadata:EXTERNAL_SPECIALTY_TYPE>
		<metadata:USER_INFO id="10">
			<metadata:data>
				<metadata:template>
					<metadata:field name="ID" value="1_QRALicensedUser" />
				</metadata:template>
			</metadata:data>
		</metadata:USER_INFO>
		<metadata:VISIT_ID id="11">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="1_2a955c73-fa3e-4d25-adc7-b45ec57bb9e4" />
				</metadata:template>
			</metadata:data>
		</metadata:VISIT_ID>
		<metadata:CHANGE_HISTORY id="12">
			<metadata:backtrace>
				<metadata:template>
					<metadata:field name="Date" value="LC/Y2019/MO3/D20/H11/M6/S48/MS987" />
					<metadata:field name="Status" value="tentative" />
				</metadata:template>
			</metadata:backtrace>
		</metadata:CHANGE_HISTORY>
		<metadata:DOCUMENT_TYPE id="13">
			<metadata:data>
				<metadata:template>
					<metadata:field name="PhysicianRelation" value="physican of record document" />
				</metadata:template>
			</metadata:data>
			<metadata:refannotation refid="17" target="metadata:SPECIALTY_TYPE" />
		</metadata:DOCUMENT_TYPE>
		<metadata:PATIENT_TYPE id="14">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="inpatient" />
				</metadata:template>
			</metadata:data>
		</metadata:PATIENT_TYPE>
		<metadata:WORKFLOW_TYPE id="15">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="capd_standalone" />
				</metadata:template>
			</metadata:data>
		</metadata:WORKFLOW_TYPE>
		<metadata:ENGINEVERSION id="16">
			<metadata:data>
				<metadata:template>
					<metadata:field name="ConfigServer" value="rmi://10.27.225.6:10000/ConfigurationServer" />
					<metadata:field name="DeployAgent" value="10.27.225.210" />
					<metadata:field name="DeployName" value="dev-dma-engine" />
					<metadata:field name="DeployVersion" value="697" />
					<metadata:field name="Extraction" value="UNKNOWN" />
					<metadata:field name="ExtractionEndDate" value="2019-02-21T18:58:12" />
					<metadata:field name="ExtractionStartDate" value="2019-02-21T18:16:39" />
					<metadata:field name="TemplateVersion"
						value="landc-install-escription-4.77.1_2.25.1_patch-fluentd-20190205" />
					<metadata:field name="Version" value="landc-install-escription-4.77.1" />
				</metadata:template>
			</metadata:data>
			<metadata:backtrace>
				<metadata:template>
					<metadata:field name="Date" value="LC/Y2019/MO3/D20/H11/M6/S48/MS999" />
					<metadata:field name="User" value="landc-install-escription-4.77.1" />
				</metadata:template>
			</metadata:backtrace>
		</metadata:ENGINEVERSION>
		<metadata:SPECIALTY_TYPE id="17">
			<metadata:data>
				<metadata:specialtytype>internal_medicine</metadata:specialtytype>
			</metadata:data>
		</metadata:SPECIALTY_TYPE>
		<metadata:TIME_BASE id="45">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Dereferenceable" value="true" />
					<metadata:field name="RelativeTime" value="LC/Y2019/MO3/D20" />
					<metadata:field name="TimeIndex" value="undefined" />
				</metadata:template>
			</metadata:data>
		</metadata:TIME_BASE>
		<eci_coding:ICD10 id="59" begin="12" end="20">
			<eci_coding:data>
				<eci_coding:template>
					<eci_coding:field name="Code" value="E11.9" />
					<eci_coding:field name="DisplayName" value="TYPE 2 DIABETES MELLITUS WITHOUT COMPLICATIONS" />
					<eci_coding:field name="Status" value="inherently chronic" />
					<eci_coding:field name="Status" value="current" />
					<eci_coding:field name="Type" value="HCC" />
				</eci_coding:template>
			</eci_coding:data>
			<eci_coding:refannotation refid="60" target="concept:META" />
		</eci_coding:ICD10>
		<concept:META id="60">
			<concept:data>
				<concept:code id="103522233" coding-system="HCC AF" kn="*HCC : 019 : DIABETES WITHOUT COMPLICATION"
					external_code="019" deduced="true" />
			</concept:data>
		</concept:META>
		<metadata:SERVICE_DATE id="61">
			<metadata:data>
				<metadata:template>
					<metadata:field name="Value" value="LC/Y2019/MO3/D20" />
				</metadata:template>
			</metadata:data>
		</metadata:SERVICE_DATE>
		<concept:META id="71" begin="12" end="20">
			<concept:data>
				<concept:code id="124342215" coding-system="SPECIFICITY APPLICATION FRAMEWORK"
					coding-system-version="SPECIFICITY APPLICATION FRAMEWORK" kn="SAF : 3001.3 : CORONARY ARTERY DISEASE RISK"
					external_code="3001.3" deduced="true" />
			</concept:data>
		</concept:META>
		<cdi:SPECIFICITY_INFO id="72" begin="12" end="20">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="Clinical Decision Support Content Pack" />
					<cdi:field name="LicenceIds" value="Clinical Decision Support Content Pack" />
					<cdi:field name="Name" value="Coronary Artery Disease Risk" />
					<cdi:field name="Options" value="&lt;Stated> Risk Level of Coronary Artery Disease" />
					<cdi:field name="Options" value="No Cocaine Use, No Diabetes, No Smoking, No Obesity and No Hypertension" />
					<cdi:field name="SpecifierID" value="124342215" />
					<cdi:field name="Status" value="documented" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="71" target="concept:META" />
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<concept:META id="73" begin="12" end="20">
			<concept:data>
				<concept:code id="124342902" coding-system="SPECIFICITY APPLICATION FRAMEWORK"
					coding-system-version="SPECIFICITY APPLICATION FRAMEWORK" kn="SAF : 3005.17 : SPINAL EPIDURAL ABSCESS RISK"
					external_code="3005.17" deduced="true" />
			</concept:data>
		</concept:META>
		<cdi:SPECIFICITY_INFO id="74" begin="12" end="20">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="Clinical Decision Support Content Pack" />
					<cdi:field name="LicenceIds" value="Clinical Decision Support Content Pack" />
					<cdi:field name="Name" value="Spinal Epidural Abscess Risk" />
					<cdi:field name="Options" value="&lt;Stated> Risk Level of Spinal Epidural Abscess Risk" />
					<cdi:field name="Options"
						value="No Diabetes, No Immuno Deficiency, No IV Drug Use and No Recent Spinal Procedure" />
					<cdi:field name="SpecifierID" value="124342902" />
					<cdi:field name="Status" value="documented" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="73" target="concept:META" />
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<concept:META id="75" begin="12" end="20">
			<concept:data>
				<concept:code id="124343293" coding-system="SPECIFICITY APPLICATION FRAMEWORK"
					coding-system-version="SPECIFICITY APPLICATION FRAMEWORK" kn="SAF : 3007.14 : SPINAL EPIDURAL ABSCESS RISK"
					external_code="3007.14" deduced="true" />
			</concept:data>
		</concept:META>
		<cdi:SPECIFICITY_INFO id="76" begin="12" end="20">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="Clinical Decision Support Content Pack" />
					<cdi:field name="LicenceIds" value="Clinical Decision Support Content Pack" />
					<cdi:field name="Name" value="Spinal Epidural Abscess Risk" />
					<cdi:field name="Options" value="&lt;Stated> Risk Level of Spinal Epidural Abscess Risk" />
					<cdi:field name="Options"
						value="No Diabetes, No Immuno Deficiency, No IV Drug Use and No Recent Spinal Procedure" />
					<cdi:field name="SpecifierID" value="124343293" />
					<cdi:field name="Status" value="documented" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="75" target="concept:META" />
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<concept:META id="77" begin="12" end="20">
			<concept:data>
				<concept:code id="91110371" coding-system="SPECIFICITY APPLICATION FRAMEWORK"
					coding-system-version="SPECIFICITY APPLICATION FRAMEWORK" kn="SAF : 3 : DIABETES MELLITUS" external_code="3"
					deduced="true" />
			</concept:data>
		</concept:META>
		<cdi:SPECIFICITY_INFO id="78" begin="12" end="20">
			<cdi:data>
				<cdi:template>
					<cdi:field name="Name" value="Diabetes Mellitus" />
					<cdi:field name="SpecifierID" value="91110371" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="77" target="concept:META" />
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:SPECIFICITY_CLARI id="79" begin="12" end="20">
			<cdi:data>
				<cdi:template>
					<cdi:field name="Identifier">
						<cdi:refannotation refid="78" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
					<cdi:field name="Specifier">
						<cdi:refannotation refid="80" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
					<cdi:field name="Specifier">
						<cdi:refannotation refid="81" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
					<cdi:field name="Specifier">
						<cdi:refannotation refid="82" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
					<cdi:field name="Specifier">
						<cdi:refannotation refid="83" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
					<cdi:field name="Specifier">
						<cdi:refannotation refid="84" target="cdi:SPECIFICITY_INFO" />
					</cdi:field>
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_CLARI>
		<cdi:SPECIFICITY_INFO id="80">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="HCC Content Pack" />
					<cdi:field name="LicenceIds" value="HCC Content Pack" />
					<cdi:field name="Name" value="Control" />
					<cdi:field name="Options" value="Controlled" />
					<cdi:field name="Options" value="Uncontrolled" />
					<cdi:field name="Options" value="Frequent Hypoglycemia" />
					<cdi:field name="Options" value="Frequent Hyperglycemia" />
					<cdi:field name="SpecifierID" value="91110408" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:SPECIFICITY_INFO id="81">
			<cdi:data>
				<cdi:template>
					<cdi:field name="Name" value="Type" />
					<cdi:field name="Options" value="Type I" />
					<cdi:field name="Options" value="Type II" />
					<cdi:field name="Options" value="Juvenile Type II" />
					<cdi:field name="Options" value="Other Condition" />
					<cdi:field name="SpecifierID" value="91110409" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:SPECIFICITY_INFO id="82">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="HCC Content Pack" />
					<cdi:field name="LicenceIds" value="HCC Content Pack" />
					<cdi:field name="Name" value="Manifestations" />
					<cdi:field name="Options" value="Arthropathy" />
					<cdi:field name="Options" value="Circulatory Complication" />
					<cdi:field name="Options" value="Dermatitis" />
					<cdi:field name="Options" value="Gangrene" />
					<cdi:field name="Options" value="Gastroparesis" />
					<cdi:field name="Options" value="Nephropathy" />
					<cdi:field name="Options" value="Neuropathy" />
					<cdi:field name="Options" value="Periodontal Disease" />
					<cdi:field name="Options" value="Peripheral Angiopathy" />
					<cdi:field name="Options" value="Retinopathy" />
					<cdi:field name="Options" value="Skin Ulcer" />
					<cdi:field name="SpecifierID" value="91110410" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:SPECIFICITY_INFO id="83">
			<cdi:data>
				<cdi:template>
					<cdi:field name="Name" value="Insulin Use" />
					<cdi:field name="Options" value="No Insulin" />
					<cdi:field name="Options" value="Using Insulin" />
					<cdi:field name="SpecifierID" value="91110411" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:SPECIFICITY_INFO id="84">
			<cdi:data>
				<cdi:template>
					<cdi:field name="ContentFlags" value="HCC Content Pack" />
					<cdi:field name="LicenceIds" value="HCC Content Pack" />
					<cdi:field name="Name" value="Acute Complications" />
					<cdi:field name="Options" value="DKA" />
					<cdi:field name="Options" value="Hyperosmolar Coma" />
					<cdi:field name="Options" value="No Acute Complications" />
					<cdi:field name="SpecifierID" value="105320504" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="85" target="cdi:DOCUMENT_REFERENCE" />
		</cdi:SPECIFICITY_INFO>
		<cdi:DOCUMENT_REFERENCE id="85">
			<cdi:data>
				<cdi:template>
					<cdi:field name="Value" value="280" />
				</cdi:template>
			</cdi:data>
			<cdi:refannotation refid="61" target="metadata:SERVICE_DATE" />
			<cdi:backtrace>
				<cdi:template>
					<cdi:field name="Date" value="LC/Y2019/MO3/D20/H11/M6/S49/MS89" />
					<cdi:field name="Status" value="tentative" />
					<cdi:field name="User" value="1_QRALicensedUser" />
				</cdi:template>
			</cdi:backtrace>
		</cdi:DOCUMENT_REFERENCE>
	</annotations>
</text>